body {
  margin: 0;
  background-color: rgba(31, 9, 140, 0.41);
}

h1 {
  font-size: 8vh;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 0;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.front-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(11, 140, 9, 0.33);
  width: 60%;
  height: 70%;
  border: 2px solid black;
  border-radius: 5px;
}

.submit-container {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.submit-container input{
  width: 80%;
  height: 20%;
}

form {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 70%;
  margin: 3%;
  text-align: center;
}

form h2{
  font-size: 4vh;
}

form input{
  height: 10%;
  margin-bottom: 2%;
  font-size: 2vh;
}

form label{
  text-align: left;
  font-size: 3vh;
}

#canvas-container {
  display: none;
}
